h1 {
  position: relative;
  text-align: center;
  color: black;
  font-size: 50px;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

#content-left,
#hangman-container {
  flex: 1;
  max-width: 50%;
}

/* Your existing CSS */
#title, #subtitle {
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
}

button {
  margin: 5px;
  font-size: 24px;
  padding: 5px 10px;
  height: 45px;
  width: 18%;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.btn {
  background: #a3eea3;
  /* background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%); */
  border: black;
}
.btn:not(:disabled):hover {
   background: #b8f8b8;
/* background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%); */
}

button:disabled {
  opacity: 0.5;
}

#button-container {
  text-align: center;
}

#secret {
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}

.game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.871);
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-align: center;
  padding-top: 20%;
}

.game-over .message {
  margin-bottom: 20px;
}

.game-over button {
  font-size: medium;
  font-family: inherit;
  margin-top: 10px;
  display: block;
  margin: auto;
}

#hangman-container {
  width: 500px;
  height: 600px;
  background-color: #fff;
  margin: 20px auto;
}

#hangman-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* Add this to your existing CSS */
.reload {
  background-color: #4fa4ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reload:hover {
  background-color: #1d7ce1;
}


/* ------------------------------------------------------------------------------ */
/* #title, #subtitle {
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
}

button {
  margin: 5px;
  font-size: 24px;
  padding: 5px 10px;
  height: 45px;
  width: 18%;
  display: inline-block;
  font-family: Arial, sans-serif;
}

button:disabled {
  opacity: 0.5;
}

#button-container {
  text-align: center;
}

#secret {
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}

.game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 3em;
  text-align: center;
  padding-top: 20%;
}

.game-over .message {
  margin-bottom: 20px;
}

.game-over button {
  font-size: medium;
  font-family: inherit;
  margin-top: 10px;
  display: block;
  margin: auto;
}

#hangman-container {
  width: 500px;
  height: 600px;
  background-color: #fff;
  margin: 20px auto;
}

#hangman-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
} */